---
import { getCollection } from "astro:content";
import Layout from "../components/layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import CallToAction from "../components/CallToAction.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);

---

<Layout>
  <!-- <div class="flex flex-row items-center justify-start mb-4 md:mb-8"></div> --> 
  <div class="flex flex-raw justify-between items-start mb-4 md:mb-8 ">
    <div>
      <h1 class="mb-[-48px] lg:mb-[-48px] flex items-center flex-wrap">
        <span
          id="typed"
          class="text-4xl font-extrabold lg:text-5xl text-base-content">Hello</span
        >
        <span class="not-prose ml-3 animate-waving-hand">
          <img
            src="/assets/waving-hand.webp"
            alt="waving hand"
            class="w-12 h-12"
            srcset="/assets/waving-hand.webp 1x, /assets/waving-hand.webp 2x"
          />
        </span>
        &nbsp;I'm&nbsp;
        <span
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-base-content to-indigo-500 dark:from-base-content dark:to-indigo-300"
          >
            Yan</span
        >
      </h1>
      <h2>
        I design and build{" "}
        <span
          class="highlight-heading animate-box-shadow dark:animate-winter-box-shadow"
          >things for the web.</span
        >
      </h2>
      <div class="text-xl font-semibold mb-2">
        Computer Science Student and Web Developer.
      </div>
    </div>
      <img
        class="not-prose ml-10 mt-0 w-[110px] min-w-[60px] border rounded-lg object-contain"
        src="./public/assets/portrait-preview1.png"
        alt="Yan smiling in a portrait photo."
      />

  </div>
  <div class="w-[300px] h-[300px] sm:w-[400px] sm:h-[400px] md:w-[500px] md:h-[500px] mx-auto mt-8 bg-laptop">
    <!-- Laptop image here -->
  </div>

  <div class="cta">
    <CallToAction href="/projects/">
      View All
     <!--  <Icon icon="arrow-right" size="1.2em" /> -->
    </CallToAction>
  </div>

  <div class="gallery">
    <Grid variant="offset">
      {
        projects.map((project) => (
          <li>
            <PortfolioPreview project={project} />
          </li>
        ))
      }
    </Grid>
  </div>

</Layout>
